[submodule "repos/google-research"]
	path = repos/google-research
	url = https://github.com/hooved/google-research.git
[submodule "repos/dopamine"]
	path = repos/dopamine
	url = https://github.com/hooved/dopamine.git
